- if static
  %div.form-control-static
    %p.text-muted
      = resource.send name
- else
  = resource.text_field name, :class => 'form-control required', :placeholder => placeholder, :required => true